.footer-section{
    background: url('https://i.ibb.co.com/3mWtqVC/13.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.footer-bottom{
    background: url('https://i.ibb.co.com/7Sz9B9z/24.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}