.hero-section{
    background: url('https://i.ibb.co.com/Jr0L9Yr/3.png');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

/* Add this to your App.css or your global stylesheet */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media only screen and (max-width: 600px) {
    .hero-section{
        background: url('https://i.ibb.co.com/8cTB8x3/6.jpg');
        background-size: cover;
    background-position-x: 50%;
    background-position-y: center;
    }
  }

  